<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,591},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,150}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,892},{134,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,150}}</string>
                <key>sourceSize</key>
                <string>{134,150}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,150}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,742},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,150}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,739},{150,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,123}}</string>
                <key>sourceSize</key>
                <string>{150,123}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,776},{150,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,115}}</string>
                <key>sourceSize</key>
                <string>{150,115}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{150,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,129}}</string>
                <key>sourceSize</key>
                <string>{150,129}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,578},{148,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{148,150}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,728},{143,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,150}}</string>
                <key>sourceSize</key>
                <string>{143,150}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,790},{67,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,41}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>avatarBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,696},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>bgInstall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{640,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,111}}</string>
                <key>sourceSize</key>
                <string>{640,111}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,833},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>btnArrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,625},{99,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,102}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>btnContinue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{434,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,142}}</string>
                <key>sourceSize</key>
                <string>{434,142}</string>
            </dict>
            <key>btnPlayNow.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,405},{223,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,73}}</string>
                <key>sourceSize</key>
                <string>{223,73}</string>
            </dict>
            <key>btnThrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,413},{138,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,55}}</string>
                <key>sourceSize</key>
                <string>{138,55}</string>
            </dict>
            <key>cancelRound.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,681},{124,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,49}}</string>
                <key>sourceSize</key>
                <string>{124,49}</string>
            </dict>
            <key>chooseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,688},{124,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,49}}</string>
                <key>sourceSize</key>
                <string>{124,49}</string>
            </dict>
            <key>chucMung.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{640,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,154}}</string>
                <key>sourceSize</key>
                <string>{640,154}</string>
            </dict>
            <key>cong_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,884},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,918},{30,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,837},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,790},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,988},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,954},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,920},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,886},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,871},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>cong_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,852},{32,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,45}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>daucong.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,742},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>dauphaycong.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,496},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>i_avatar0.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1004},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>i_avatar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,899},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>i_avatar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,871},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>i_avatar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,571},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>i_avatar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,873},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>i_card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,726},{62,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>i_card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,427},{149,202}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,202}}</string>
                <key>sourceSize</key>
                <string>{153,206}</string>
            </dict>
            <key>i_card_b_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,441},{87,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,97}</string>
            </dict>
            <key>i_card_b_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,530},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,93}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>i_card_b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,571},{87,123}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{87,123}}</string>
                <key>sourceSize</key>
                <string>{93,141}</string>
            </dict>
            <key>i_card_b_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,354},{94,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,85}}</string>
                <key>sourceSize</key>
                <string>{96,87}</string>
            </dict>
            <key>i_card_b_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,125},{91,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,102}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>i_card_b_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,229},{87,123}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{87,123}}</string>
                <key>sourceSize</key>
                <string>{101,133}</string>
            </dict>
            <key>i_card_b_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{91,121}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{91,121}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>i_card_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,995},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,29}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>i_card_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1024},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>i_card_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,726},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,26}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>i_card_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,965},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,29}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>i_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,480},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>i_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,578},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>i_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,510},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>i_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,361},{228,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,42}}</string>
                <key>sourceSize</key>
                <string>{228,42}</string>
            </dict>
            <key>i_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,361},{50,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,54}</string>
            </dict>
            <key>i_pass1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,553},{133,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,68}}</string>
                <key>sourceSize</key>
                <string>{133,68}</string>
            </dict>
            <key>i_search0.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,807},{43,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,49}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>i_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,154}}</string>
                <key>sourceSize</key>
                <string>{640,154}</string>
            </dict>
            <key>iconApp.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{284,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,281}}</string>
                <key>sourceSize</key>
                <string>{284,281}</string>
            </dict>
            <key>iconSam.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,480},{206,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,109}}</string>
                <key>sourceSize</key>
                <string>{206,109}</string>
            </dict>
            <key>iconVip.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,629},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>imgHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,741},{128,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{128,150}</string>
            </dict>
            <key>labai_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,591},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,571},{172,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,67}}</string>
                <key>sourceSize</key>
                <string>{172,67}</string>
            </dict>
            <key>xuiQua.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,285},{282,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,74}}</string>
                <key>sourceSize</key>
                <string>{282,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2571fbefe9cc0e7f45a689e07b4e50:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
